{
	admin off
}

shot.socialdog.cn {
	encode zstd gzip
	reverse_proxy anju-app:8080
}

shotapi.socialdog.cn {
	encode zstd gzip

	@api path /api/* /health
	handle @api {
		reverse_proxy anju-app:8080
	}

	handle {
		respond "Not Found" 404
	}
}
